<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <div class="frame">
        <div class="main_frame">
            <div class="left_frame">
                <div class="left_1">
                    <div class="left_1-1">
                        <img src="images/Profile.png" width="156px" height="142px" alt="" />
                    </div>
                    <div class="left_1-2">
                        <%=user.name%>  
                    </div>
                    <div class="left_1-3">
                        <%=user.profession%>
                    </div>
                    <div class="left-icons">
                            <a class="link_href" href="">
                                <div class="icon">
                                    <img src="icon/Facebook.svg" class="icon-1"/>
                                </div>
                            </a>
                            <a class="link_href" href="">
                                <div class="icon">
                                    <img src="icon/Instagram.svg" class="icon-1"/>
                                </div>
                            </a>
                            <a class="link_href" href="">
                                <div class="icon">
                                    <img src="icon/Twitter.svg" class="icon-1"/>
                                </div>
                            </a>
                            <a class="link_href" href="">
                                <div class="icon">
                                    <img src="icon/Linkeding.svg" class="icon-1"/>
                                </div>
                            </a>
                            <a class="link_href" href="">
                                <div class="icon">
                                    <img src="icon/Youtube.svg" class="icon-1"/>
                                </div>
                            </a>
                            <a class="link_href" href=""> 
                                <div class="icon">
                                    <img src="icon/Dribbble.svg" class="icon-1"/>
                                </div>
                            </a>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_2">
                    <div class="left_2_left">
                        <p>Age:</p>
                        <p>Residence:</p>
                        <p>Freelance:</p>
                        <p>Adress:</p>
                    </div>
                    <div class="left_2_right">
                        <p><%=user.age%></p>
                        <p><%=user.residence%></p>
                        <p style="color: #7EB942;">Avaliable</p>
                        <p>Seoul</p>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_3">
                    <div><p style="font-family: sans-serif;    font-weight: 500;     font-size: 18px;">Languages</p></div>
                        <div class="progres">
                            <p> <%=user.languages[0]%></p>
                            <p>100%</p>
                        </div>

                        <div class="percentage_bar">
                            <div class="percentage" style="width: 100%;"></div>
                        </div>
                        
                        <div class="progres">
                            <p><%=user.languages[1]%></p>
                            <p>80%</p>
                        </div>

                        <div class="percentage_bar">
                            <div class="percentage" style="width: 80%;"></div>
                        </div>
                        
                        <div class="progres">
                            <p><%=user.languages[2]%></p>
                            <p>60%</p>
                        </div>
                        <div class="percentage_bar">
                            <div class="percentage" style="width: 60%;"></div>
                        </div>
                </div>  
                <div class="marginer"></div>
                <div class="left_4">
                    <div><p style="font-family: sans-serif;    font-weight: 500;     font-size: 18px;">Skills</p></div>
                        <div class="progres">
                            <p> <%=user.skills[0]%></p>
                            <p>90%</p>
                        </div>

                        <div class="percentage_bar">
                            <div class="percentage" style="width: 90%;"></div>
                        </div>
                        
                        <div class="progres">
                            <p><%=user.skills[1]%></p>
                            <p>85%</p>
                        </div>

                        <div class="percentage_bar">
                            <div class="percentage" style="width: 85%;"></div>
                        </div>
                        
                        <div class="progres">
                            <p><%=user.skills[2]%></p>
                            <p>80%</p>
                        </div>
                        <div class="percentage_bar">
                            <div class="percentage" style="width: 80%;"></div>
                        </div>

                        <div class="progres">
                            <p><%=user.skills[3]%></p>
                            <p>75%</p>
                        </div>
                        <div class="percentage_bar">
                            <div class="percentage" style="width: 75%;"></div>
                        </div>

                        <div class="progres">
                            <p><%=user.skills[4]%></p>
                            <p>85%</p>
                        </div>
                        <div class="percentage_bar">
                            <div class="percentage" style="width: 85%;"></div>
                        </div>
                </div>
                <div class="marginer"></div>
                <div class="left_5">
                    <div><p style="font-family: sans-serif;    font-weight: 400;     font-size: 18px;">Extra Skills</p></div>
                        <div class="ex_skills">
                            <img src="icon/Icons.png" alt="">
                            <p> <%=user.extra_skills[0]%> </p>
                        </div>

                         <div class="ex_skills">
                            <img src="icon/Icons.png" alt="">
                            <p> <%=user.extra_skills[1]%> </p>
                        </div>

                         <div class="ex_skills">
                            <img src="icon/Icons.png" alt="">
                            <p> <%=user.extra_skills[2]%> </p>
                        </div>

                         <div class="ex_skills">
                            <img src="icon/Icons.png" alt="">
                            <p> <%=user.extra_skills[3]%> </p>
                        </div>
                </div>
                <div class="marginer"></div>
                <div class="left_6">
                    <p>Button</p>
                </div>
            </div>
            <div class="mid_frame">
                <div class="mid_frame-1">
                    <div class="mid_frame-1_left">
                        <p class="big_info">Doctor neurologists in OHSU Hospital </p>
                        <p class="small_info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, volutpat feugiat placerat lobortis. Natoque rutrum semper sed suspendisse nunc lectus.</p>
                    </div>
                    <div class="mid_frame-1_right">
                        <img src="images/Your_image.png" alt="">
                    </div>
                </div>
                <div class="mid_frame-2">
                    <p class="big_info_2">My Services</p>
                    <p class="small_info_2">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. lorem ipsum</p>
                </div>
                <div class="mid_frame-3">
                    <div class="box">
                        <div class="box_icon">
                            <img src="icon/coding.svg" alt="">
                        </div>
                        <div class="box_name">
                            <p>Web Development</p>
                        </div>
                        <div class="box_title">
                            <p>Blog, E-commerce</p>
                        </div>
                    </div>

                    <div class="box">   
                        <div class="box_icon">
                            <img src="icon/illustration.svg" alt="">
                        </div>
                        <div class="box_name">
                            <p>UI/UX Design</p>
                        </div>
                        <div class="box_title">
                            <p>Mobile app, Website design</p>
                        </div>
                    </div>

                    <div class="box">
                        <div class="box_icon">
                            <img src="icon/Microphone.svg" alt="">
                        </div>
                        <div class="box_name">
                            <p>Sound Design</p>
                        </div>
                        <div class="box_title">
                            <p>Voice Over, Beat Making</p>
                        </div>
                    </div>

                    <div class="box">
                        <div class="box_icon">
                            <img src="icon/game-development.svg" alt="">
                        </div>
                        <div class="box_name">
                            <p>Game Design</p>
                        </div>
                        <div class="box_title">
                            <p>Character Design, Props & Objects</p>
                        </div>
                    </div>

                    <div class="box">
                        <div class="box_icon">
                            <img src="icon/Photographer.svg" alt="">
                        </div>
                        <div class="box_name">
                            <p>Photography</p>
                        </div>
                        <div class="box_title">
                            <p>Portrait, Product Photography</p>
                        </div>
                    </div>

                    <div class="box">
                        <div class="box_name">
                            <p>Advertising</p>
                        </div>
                        <div class="box_title_new">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a urna viverra morbi. </p>
                        </div>
                        <div class="order_now">
                            <a href="">ORDER NOW</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="right_frame"></div>
        </div>
    </div>
</body>

</html>